<div class="container">
        <mat-card class="example-card" *ngFor="let movie of movies">
            
                <mat-card-title><a class=toolbarFont [routerLink]="['/movie-detail', movie.id]" routerLinkActive="router-link-active" >{{movie.title}}</a></mat-card-title>
                <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
            
            <img class=image [src]="movieDbService.getMovieDbImg(movie.poster_path)" />
            <mat-card-content>
                <p class=overview> {{movie.overview}} </p>
            </mat-card-content>
            <mat-card-actions>
                    <button mat-button class=similar-button onclick="ngOnInit()"><a onclick="ngOnInit()" class=button-font [routerLink]="['/similar-movie', movie.id]" routerLinkActive="router-link-active" >More similar films</a></button>
                    <!-- <button mat-button>SHARE</button> -->
                </mat-card-actions>
        </mat-card>
    </div>

    