.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

span {
    margin: 20px;
}

.toolbarFont {
    color: black;
}

body {
    background-color: black;
}